body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #606060;
}
footer {
    padding: 15px;
    background-color: #f7f7f7;
    font-size: .8em;
}
img.brand-image {
    vertical-align: middle;
}
.contact-details {
    background-color: black;
    color: white;
    padding: 5px 0;
    font-size: .8em;
}
.nav-buttons {
    vertical-align: middle;
    padding: 15px 10px;
}
.main-navigation {
    border-radius: 0;
    margin-bottom: 0;
}
img.banner-image {
    padding: 0;
}
.content-heading {
    padding: 20px 0;
}
.you-are-here-table {
    background-color: #ececec;
    padding: 0;
}
.you-are-here-table-heading {
    margin: 0;
    background-color: #475059;
    color: white;
    font-size: 2.5em;
}
.you-are-here-table-col {
    padding: 15px;
}
.you-are-here-table-col.col1 {
    border-right: 2px solid white;
}
.scale-storage-container {
    padding: 0 10px;
}
.scale-storage-item.scale-storage {
    background-color: #f77b55;
}
.scale-storage-item.develop {
    background-color: #feca5c;
}
.scale-storage-item.cutting-edge {
    background-color: #92deeb;
}
.scale-storage-item>div {
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
}
.scale-storage-item>div.expand {
    vertical-align: top;
}
.scale-storage-image {
    width: 15%;
}
.scale-storage-image.develop {
    background-color: #fedc7a;
}
.scale-storage-image.scale-storage {
    background-color: #f6906f;
}
.scale-storage-image.cutting-edge {
    background-color: #b1e2f1;
}
.scale-storage-image>img {
    width: 100%;
}
.scale-storage-content {
    width: 75%;
    padding: 0 10px;
    color: white;
    font-size: 1.8em;
    margin: 0 0 0 -0.8%;
}
.drop-icon-image {
    width: 8%;
}
.footer-blocks {
    padding: 10px 0;
}
.banner-container {
    position: relative;
}
.banner-text {
    /*    position: absolute;*/
    padding: 100px 0;
    font-size: 2.2em;
    color: white;
    background-image: url('img/banner.png');
    background-position: bottom center;
}
.email-us-heading {
    background-color: grey;
    color: white;
    margin-top: 15%;
}
.contact-form {
    background-color: #EAEAEA;
    padding: 0;
    overflow: hidden;
    margin-bottom: 25px;
}
.contact-form>div {
    height: 150px;
}
.world-map {
    background: #F7F7F7;
}
.world-map-container {
    padding: 10px;
}
.world-map-container>img {
    width: 100%;
    box-shadow: -2px -2px 30px #eaeaea;
}
